<!DOCTYPE html>
<html>
  <head>
    <title>FrameworksApis</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header-web d-none d-md-block">
    <div class="container menu">
      <div class="logo">
        <%= link_to '', index_index_path, :class => "fa fa-home fa-2x" %>
      </div>
      <div class="links">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Categorias', categorias_path, :class => "dropdown-item" %>
            <%= link_to 'Nova Categoria', new_categoria_path, :class => "dropdown-item" %>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Produtos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Produtos', produtos_path, :class => "dropdown-item" %>
            <%= link_to 'Novo Produto', new_produto_path, :class => "dropdown-item" %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <header class="header-mobile d-block d-md-none">
    <div class="container">
      <div class="menu row">
        <%= link_to '', index_index_path, :class => "fa fa-home fa-2x col-6 logo" %>
        <%= link_to '', '#menuCollapse', :class => "fa fa-bars fa-2x col-6 links", 
        data: {toggle: :collapse },  aria: { controls: :menuCollapse, expanded: false }%>
      </div>
    </div>
    <div class="collapse" id="menuCollapse">
      <li>Categorias</li>
    </div>
  </header>
  <body class="site">
    <%= yield %>
  </body>
</html>
