<!DOCTYPE html>
<html>
  <head>
    <title>FrameworksApis</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header-web d-none d-md-block">
    <div class="container menu">
      <div class="logo">
        <%= link_to '', index_index_path, :class => "fa fa-home fa-2x" %>
      </div>
      <div class="links">
        <%= link_to 'Categorias', categorias_path, :class => "dropdown-toggle" %>
        <%= link_to 'Teste', categorias_path, :class => "dropdown-toggle" %>
        <%= link_to 'Documentacao', categorias_path, :class => "dropdown-toggle" %>
      </div>
    </div>
  </header>
  <header class="header-mobile d-block d-md-none">
    <div class="container">
      <div class="menu row">
        <%= link_to '', index_index_path, :class => "fa fa-home fa-2x col-6 logo" %>
        <%= link_to '', '#menuCollapse', :class => "fa fa-bars fa-2x col-6 links", 
        data: {toggle: :collapse },  aria: { controls: :menuCollapse, expanded: false }%>
      </div>
    </div>
    <div class="collapse" id="menuCollapse">
      <li>Categorias</li>
    </div>
  </header>
  <body class="site">
    <%= yield %>
  </body>
</html>
